// @font-face {
//   font-family: 'TT Lakes';
//   src: url('fonts/TTLakes-Bold.eot');
//   src: local('TT Lakes Bold'), local('TTLakes-Bold'),
//     url('fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
//     url('fonts/TTLakes-Bold.woff') format('woff'),
//     url('fonts/TTLakes-Bold.ttf') format('truetype');
//   font-weight: bold;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'TT Lakes';
//   src: url('fonts/TTLakes-Regular.eot');
//   src: local('TT Lakes Regular'), local('TTLakes-Regular'),
//     url('fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
//     url('fonts/TTLakes-Regular.woff') format('woff'),
//     url('fonts/TTLakes-Regular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'TT Lakes';
//   src: url('fonts/TTLakes-Medium.eot');
//   src: local('TT Lakes Medium'), local('TTLakes-Medium'),
//     url('fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
//     url('fonts/TTLakes-Medium.woff') format('woff'),
//     url('fonts/TTLakes-Medium.ttf') format('truetype');
//   font-weight: 500;
//   font-style: normal;
// }
.service-prices {
  position: relative;
  max-width: 1440px;
  background-color: #f8f8f8;
  bottom: 0;
  border-top: 1px solid #d9fff5;
}
.tit {
  display: block;
  padding-left: 16px;
  width: 320px;
  margin: 0;
}
.tit-text {
  height: 48px;
  width: 288px;
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.2px;
  color: #7e7e82;
  text-align: left;
  padding: 16px 0px 16px 0px;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  box-sizing: border-box;
  min-width: 320px;
}
.service-prices .swiper::after {
  position: absolute;
  content: '';
  left: auto;
  right: 0;
  top: 5%;
  bottom: auto;
  width: 24px;
  height: 200px;
  z-index: 2;
  background-image: linear-gradient(
    270deg,
    #f8f8f8 16.84%,
    rgba(248, 248, 248, 0.0001) 100%
  );
}
.swiper-wrapper {
  padding-left: 8px;
}
.swiper-slide {
  width: 260px;
  height: 200px;
  background-color: white;
  margin: 16px 16px 44px 0px;
  border-radius: 6px;
}
.price-cards__rows {
  padding: 16px 0 0 16px;
}
a.order {
  display: block;
  box-sizing: border-box;
  position: absolute;
  align-items: center;
  font-family: 'TT Lakes Regular';
  border-radius: 16px;
  font-weight: 600;
  text-decoration: none;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.7px;
  color: #fff;
  width: 119px;
  height: 32px;
  padding: 4px 0 0 12px;
  margin: 0 16px 16px 0;
  z-index: 10;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: right 8px bottom 4px;
  background-color: #ff3e79;
  background-image: url(../img/nextly.svg);
}
a.order:hover {
  opacity: 0.6;
}
.price-cards__head {
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #7e7e82;
  padding-bottom: 4px;
}
.price-cards__description {
  font-family: TT Lakes;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 16px;
}
.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  color: #dddddd;
}
.swiper-pagination-bullet-active {
  background-color: #b5b6bc !important;
}
.price-slider__list {
  display: none;
}
.price-slider__list_item_head {
  display: none;
}

.center-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 40px;
}
.center-text__paragraph {
  width: 288px;
  height: 137.45px;
  padding-left: 16px;
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.2px;
  color: #1b1c21;
}
.offer {
  width: 220px;
  height: 54.98px;
  padding-left: 16px;
  font-family: TT Lakes;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-decoration: none;
  color: #1b1c21;
}
.offer:hover {
  opacity: 0.6;
}
.offer__icon {
  display: inline-block;
  width: 6px;
  height: 13px;
  margin-left: 10px;
  margin-bottom: 5px;
  vertical-align: bottom;
  background-image: url(../img/Line.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.center-footer {
  max-width: 1440px;
  min-width: 320px;
  border-top: 1px solid #d9fff5;
  height: 147px;
}
.center-footer__texts {
  padding-top: 16px;
  height: 147px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: TT Lakes;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #7e7e82;
}

@media screen and (min-width: 768px) {
  .service-prices .swiper::after {
    display: none;
  }
  .swiper {
    display: none;
  }
  .service-prices {
    width: 100%;
    margin: 0 auto;
  }
  .tit {
    padding-left: 24px;
  }
  .price-slider__list_item_head {
    padding: 31px 0px 0px 1px;
    margin-left: 40px;
    margin-right: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;

    padding-bottom: 16px;
  }

  .price-slider__list {
    min-height: 324px;
    list-style: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    margin-left: 24px;
    margin-right: 24px;
    width: auto;
    background-color: white;
    border-radius: 6px;
  }
  .price-slider__list_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
  }
  .price-slider__list_item {
    padding-top: 23px;
  }
  .list_item__description:first-child {
    width: 355px;
  }
  .list_item__description:nth-child(2) {
    width: 71.97px;
  }
  .list_item__description:nth-child(3) {
    width: 83px;
  }
  .price-cards__head:first-child {
    width: 355px;
  }
  .price-cards__head:nth-child(2) {
    width: 71.97px;
  }
  .price-cards__head:nth-child(3) {
    width: 83px;
  }
  .price-cards__head:last-child {
    width: 119px;
    margin-right: 16px;
  }
  .list_item__description {
    padding-bottom: 0px;
  }
  .list_item__description {
    font-family: TT Lakes;
    color: #1b1c21;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 23px;
  }
  .order-button:hover {
    opacity: 0.6;
  }

  .order-button {
    display: block;
    box-sizing: border-box;
    align-items: center;
    font-family: 'TT Lakes Regular';
    border-radius: 16px;
    font-weight: 600;
    text-decoration: none;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.7px;
    color: #fff;
    width: 119px;
    height: 32px;
    padding: 4px 0 0 12px;
    margin-right: 16px;
    z-index: 10;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: right 8px bottom 4px;
    background-color: #ff3e79;
    background-image: url(../img/nextly.svg);
  }
  .center-text__paragraph {
    margin-top: 24px;
    width: 421px;
    height: 60px;
    padding-left: 24px;
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.2px;
    color: #1b1c21;
  }
  .offer {
    margin-top: 16px;
    width: 421px;
    height: 24px;
    padding-left: 24px;
    font-family: TT Lakes;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-decoration: none;
    color: #1b1c21;
  }
  .center-footer__texts {
    padding-top: 0px;
    height: 105px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 24px;
    align-items: center;
    text-align: left;
    font-family: TT Lakes;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #7e7e82;
  }
  .center-footer-text {
    max-width: 220px;
  }
  .center-footer-text:last-child {
    text-align: right;
  }
}
@media screen and (min-width: 1120px) {
  .tit {
    padding-left: 32px;
  }
  .price-slider__list {
    margin-left: 32px;
    padding-left: 24px;
  }
  .price-slider__list_item_head {
    margin-left: 32px;
    padding-left: 24px;
  }
  .center-text__paragraph {
    margin-top: 24px;
    width: 440px;
    height: 60px;
    padding-left: 32px;
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.2px;
    color: #1b1c21;
  }
  .offer {
    margin-top: 16px;
    width: 421px;
    height: 24px;
    padding-left: 32px;
    font-family: TT Lakes;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-decoration: none;
    color: #1b1c21;
  }
  .center-footer__texts {
    padding-top: 0px;
    height: 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 32px;
    align-items: center;
    text-align: left;
    font-family: TT Lakes;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #7e7e82;
  }
  .center-footer-text {
    max-width: 330px;
  }
  .center-footer-text:last-child {
    text-align: right;
  }
}
